{% assign profile = site.data.profile %}
<div class="profile">
  <a class="profile__portrait" href="{{ '/' | relative_url }}" tabindex="-1" aria-hidden="true">
    <img src="{{ profile.avatar | relative_url }}" alt="" width="320" height="320">
  </a>

  <div class="profile__identity">
    <p class="profile__name">{{ profile.name }}</p>
    <p class="profile__role">{{ profile.role }}</p>
  </div>

  <dl class="profile__facts">
    <div>
      <span class="profile__fact-icon" aria-hidden="true">{% include icon.html name="location" %}</span>
      <dt>Based in</dt>
      <dd>{{ profile.location }}</dd>
    </div>
    <div>
      <span class="profile__fact-icon" aria-hidden="true">{% include icon.html name="institution" %}</span>
      <dt>Affiliation</dt>
      <dd>{{ profile.affiliation_short }}</dd>
    </div>
  </dl>

  <ul class="profile__links">
    {% for link in profile.links %}
      <li>
        <a href="{{ link.url | relative_url }}"{% if link.url contains '://' %} target="_blank" rel="noopener noreferrer"{% endif %}>
          <span class="profile__link-icon" aria-hidden="true">{% include icon.html name=link.icon %}</span>
          <span>{{ link.label }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
